@use "src/assets/styles/_colors.scss";
@use "src/assets/styles/_fonts.scss";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
* {
  text-decoration: none;
  list-style: none;
}

.logo {
  font-size: fonts.$header-font;
  color: colors.$light-bg;
  font-weight: bolder;
  letter-spacing: 2px;
  span {
    font-size: 0.7em;
  }
  fa-icon {
    color: colors.$light-bg;
  }
}

.wrapper-burger-center {
  display: none;
}

@media screen and(max-width:fonts.$width-tablet) {
  .wrapper-burger-center {
    display: flex;
  }
  .burger {
    order: 0;
    margin-right: 0px;
    div {
      transition: all 0.3s ease;
    }
  }
  .search-container {
    order: 5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    input {
      font-size: fonts.$body-font-mobile;
    }
  }
  .logo-container {
    order: 2;
  }
  .icons {
    order: 3;
    span {
      display: none;
    }
  }
  .sub-nav {
    display: none !important;
  }
  .logo {
    font-size: fonts.$header-font-mobile;
    fa-icon {
      margin-right: 2px;
    }

    span {
      font-size: fonts.$body-font-mobile;
    }
  }
  .nav-links {
    display: block !important;
    list-style: none;
    z-index: 100;
    a {
      color: black;
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: fonts.$body-font-mobile;
      display: block;
    }
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    padding: 0;
    background-color: #ffffff;
    width: 280px;

    box-shadow: -10px 10px 10px -2px rgb(20 20 20 / 15%);
    li {
      border-bottom: 0.1px solid rgb(20 20 20 / 25%);
      padding: 10px;
    }
  }
}

.icons {
  fa-icon {
    margin-right: 5px;
    font-size: fonts.$body-font;
    color: black;
  }

  a {
    color: rgb(7, 4, 4);
    font-size: fonts.$body-font;
    letter-spacing: 3px;
    font-weight: normal;
  }
}

@media screen and(max-width:fonts.$width-laptop) {
  .icons {
    span {
      display: none;
    }
  }
}

.search-form {
  border-radius: 5rem;
  height: 5rem;
  width: 60rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  background: white;
  border: 1px colors.$light-bg solid;
  input {
    width: 100%;
    padding-right: 1rem;
    font-size: fonts.$body-font;
    color: black;
  }
  fa-icon {
    font-size: 1.6rem;
  }
}

.header-container {
  padding-top: 30px;
}

.sub-nav {
  background-color: colors.$light-bg;

  height: 50px;
  margin-top: 3rem;

  display: flex;
  align-items: center;
  ul {
    flex: 1;
    display: block;
    margin-bottom: 0;
    padding-left: 0;

    li:nth-child(5) {
      float: right;
      a {
        border: 1px white solid;
        margin-right: 0px;
      }

      a:hover {
        border: 1px gold solid;
      }
    }
    li {
      display: inline-block;
    }

    a {
      margin-right: 0.5rem;
      border-radius: 2em;
      padding: 0.5rem 1.5rem;
      border: 1px transparent solid;
      color: white;
      font-size: fonts.$body-font-mobile;
    }

    a:hover {
      border: 1px white solid;
    }
  }
}
.full-bleed {
  box-shadow: 0 0 0 100vmax colors.$light-bg;
  clip-path: inset(0 -100vmax);
}

.burger {
  cursor: pointer;

  width: 4rem;
  div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
  }
}

.nav-links {
  display: none;
}

.line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.line2 {
  opacity: 0;
}

.line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
