<div class="container">
  <div class="row">
    <div class="col">
      <br>

      <!-- Banner slider -->
      <swiper-container
        loop="true"
        allow-touch-move="true"
        navigation="true"
        autoplay-delay="6000"
        autoplay-disable-on-interaction="false"
      >
        <swiper-slide>
          <app-slider-banner-item
            imgSrc="https://placehold.co/600x300?text=Banner+1">
          </app-slider-banner-item>
        </swiper-slide>

        <swiper-slide>
          <app-slider-banner-item
            imgSrc="https://placehold.co/600x300?text=Banner+2">
          </app-slider-banner-item>
        </swiper-slide>

        <swiper-slide>
          <app-slider-banner-item
            imgSrc="https://placehold.co/600x300?text=Banner+3">
          </app-slider-banner-item>
        </swiper-slide>
      </swiper-container>

      <br>

      <!-- Products slider -->
      <swiper-container
        navigation="true"
        pagination="true"
        [attr.breakpoints]="breakpoints | json"
      >
        <swiper-slide *ngFor="let product of products$ | async">
          <app-slider-item
            [productName]="product.title"
            [rating]="[2]"
            [starID]="'1'"
            [imagePath]="product.imagePath">
          </app-slider-item>
        </swiper-slide>
      </swiper-container>

      <app-product-create></app-product-create>
    </div>
  </div>
</div>
