.full-screen-left {
  height: 100vh;
  background-color: aquamarine;
}

.full-screen-right {
  height: 100vh;
  background-color: bisque;
}

.background-color-card {
  background-color: black;
  height: 30rem;
}
